@model Message


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<h1>Formulaire Create Message avec contraintes</h1>
<form asp-action="CreateMessageContrainte">
    <br />
    <div>
        <label asp-for="Emetteur"></label>
        <input asp-for="Emetteur" />
    </div>
    <br />
    <div>
        <label asp-for="Contenu"></label>
        <input asp-for="Contenu" />
    </div>
    <br />
    <button>Valider</button>
</form>

